[Unit]
Description=STM32 #01 Serial Bridge
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/trungcoolboy/smart-home/backend
ExecStart=/usr/bin/python3 /home/trungcoolboy/smart-home/backend/stm32_bridge.py --board-id stm32-01 --device /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_BG01CM23-if00-port0 --baudrate 115200 --port 8081
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
